name: Deploy to Azure Static Web Apps

on:
  push:
    branches:
      - entrega-estatica
  workflow_dispatch:

jobs:
  build_and_deploy_job:
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false
      
      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_DEPLOY_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          app_location: "/" 
          api_location: ""
          output_location: "out" # Next.js static export folder
        env:
          NEXT_PUBLIC_SUPABASE_URL: "https://kyyijiztgxtsrjqeoskf.supabase.co"
          NEXT_PUBLIC_SUPABASE_ANON_KEY: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt5eWlqaXp0Z3h0c3JqcWVvc2tmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjgyNzU3NTUsImV4cCI6MjA4Mzg1MTc1NX0.1OgXWrFvaPObqV7uZ6mCuakvb0-rBWwmaAlPXpTcnyU"